@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Caveat:wght@400;600&family=Oswald:wght@200;300;400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {
  --archivo: "Archivo Black", sans-serif;
  --caveat: "Caveat", cursive;
  --oswald: "Oswald", sans-serif;
  --buttoncolor: #08fdd8;
}
.background h5 {
  font-family: var(--caveat);
  font-size: large;
  color: rgb(161 161 170);
  opacity: 35%;
}

button.fill {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

button.fill::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin: -2em -2em;
  width: 0;
  height: 300%;
  z-index: -1;
  transform: rotate(10deg);
  background-color: var(--buttoncolor);
  transition: all 1.5s;
}
button.fill:hover::before {
  width: 200%;
}

form#contactme input:focus,
form#contactme textarea:focus {
  transition: all 1s;
  border-bottom: 1px solid #08fdd8;
}

form#contactme input:not(:placeholder-shown):invalid,
form#contactme textarea:focus:invalid {
  border-bottom: 1px solid red;
}
